/*this is my css file for registration form here comment is writeen with / and * */
/*this is my external css file */
/*calling classes  with . operator */
/*hum classes,tags ko call krsktay hain yhn with . operator */
/*calling tags without .*/
h1
{
text-align-last: center ;
background-color: rgb(216, 239, 11);
color: rgb(101, 6, 66);
}
button{
    background-color: rgb(6, 66, 11);
    color: white;
    width: 200px;
    height: 50px;
    text-align-last: center ;
}
.end{
    background-color:rgb(231, 255, 18);
    color: black;
}
.new{
    text-align-last: center ;
    background-color: rgb(66, 4, 66);
    color: white;
}
body{
    font-size: large;
    font-family:Verdana;
}


    
